<header class="jumbotron" style="background-color: #F43737">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <h1>{{ title }}</h1>
            </div>
            <div class="col-3">
                <button class="btn btn-labeled btn-success"
                        (click)="openLoginModal(loginModal)">
                    <h4>
                        Log In
                    </h4>
                </button>
                <button class="btn btn-labeled btn-primary"
                        (click)="openSignupModal(signupModal)">
                    <h4>
                        Sign Up
                    </h4>
                </button>
            </div>
        </div>
    </div>
</header>

<template #loginModal let-close="close">
    <div class="modal-header container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title">Login</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <input type="text" class="col-8" [(ngModel)]="email" placeholder="Email">
            </div>
        <div class="row">
                <input type="password" class="col-8" [(ngModel)]="password" placeholder="Password">
            </div>
            <div class="row">
                <button type="submit" class="col-3 btn btn-info btn-sm" (click)="close('login')">Login</button>
                <button type="button" class="col-3 offset-5 btn btn-default btn-sm" data-dismiss="modal" (click)="close('cancel')">Cancel</button>
            </div>
        </div>
    </div>
    <!-- TODO: Login with Facebook, Google+, ... -->
    <!--<div class="modal-footer">
    </div>-->
</template>

<template #signupModal let-close="close">
    <div class="modal-header container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title">Sign Up</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <input type="text" class="col-8" [(ngModel)]="email" placeholder="Email">
            </div>
        <div class="row">
                <input type="password" class="col-8" [(ngModel)]="password" placeholder="Password">
            </div>
            <div class="row">
                <button type="submit" class="col-3 btn btn-info btn-sm" (click)="close('signup')">Sign Up</button>
                <button type="button" class="col-3 offset-5 btn btn-default btn-sm" data-dismiss="modal" (click)="close('cancel')">Cancel</button>
            </div>
        </div>
    </div>
    <!-- TODO: Signup with Facebook, Google+, ... -->
    <!--<div class="modal-footer">
    </div>-->
</template>

<template ngbModalContainer></template>

<div class="container">
    <div class="row row-content">
        <div class="col-8">
            <ngb-carousel>
                <template ngbSlide>
                    <img src="http://localhost:4300/image/1.png" width="100%"/>
                </template>
                <template ngbSlide>
                    <img src="http://localhost:4300/image/1.png" width="80%"/>
                </template>
                <template ngbSlide>
                    <img src="http://localhost:4300/image/1.png" width="50%"/>
                </template>
            </ngb-carousel>
        </div>
        <div class="col-4">
            <h2>Test your map skills</h2>
            <h2>Challenge your friends</h2>
            <h2>Create your own challenge</h2>
        </div>
    </div>
</div>
