<header class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-10">
        <h1>{{ title }}</h1>
      </div>
      <div class="col-xs-2">
        <button>Log in</button>
        <button>Sign up</button>
      </div>
    </div>
  </div>
</header>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      <img src="http://localhost:4300/image/1.png" width="100%"/>
    </div>
    <div class="col-xs-4">
      <h2>Test your map skills</h2>
      <h2>Challenge your friends</h2>
      <h2>Create your own challenge</h2>
    </div>
  </div>
</div>