<header class="jumbotron" style="background-color: #F43737">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>{{ title }}</h1>
            </div>

            <div class="col-2" *ngIf="isLoggedIn == false">
                <div *ngIf="isLoggingIn == false">
                    <button class="btn btn-success" style="width: 100%"
                        (click)="isSigningUp == false && openLoginModal(loginModal)"
                        [ngClass]="{disabled: isSigningUp}">
                        <h4>
                            Log In
                        </h4>
                    </button>
                </div>
                <div *ngIf="isLoggingIn == true">
                    <ngb-progressbar value="1" type="success">
                    </ngb-progressbar>
                </div>
            </div>

            <div class="col-2" *ngIf="isLoggedIn == false">
                <div *ngIf="isSigningUp == false">
                    <button class="btn  btn-primary" style="width: 100%"
                            (click)="isLoggingIn == false && openSignupModal(signupModal)"
                            [ngClass]="{disabled: isLoggingIn}">
                            <h4>
                                Sign Up
                            </h4>
                    </button>
                </div>
                <div *ngIf="isSigningUp == true">
                    <ngb-progressbar value="1" type="primary">
                    </ngb-progressbar>
                </div>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>

<template #loginModal let-close="close">
    <div class="modal-header container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title">Login</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <input type="text" class="col-8" [(ngModel)]="email" placeholder="Email">
            </div>
        <div class="row">
                <input type="password" class="col-8" [(ngModel)]="password" placeholder="Password">
            </div>
            <div class="row">
                <button type="submit" class="col-3 btn btn-info btn-sm" (click)="close('login')">Login</button>
                <button type="button" class="col-3 offset-5 btn btn-default btn-sm" data-dismiss="modal" (click)="close('cancel')">Cancel</button>
            </div>
        </div>
    </div>
    <!-- TODO: Login with Facebook, Google+, ... -->
    <!--<div class="modal-footer">
    </div>-->
</template>

<template #signupModal let-close="close">
    <div class="modal-header container-fluid">
        <div class="row">
            <div class="col-12">
                <h4 class="modal-title">Sign Up</h4>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <input type="text" class="col-8" [(ngModel)]="email" placeholder="Email">
            </div>
        <div class="row">
                <input type="password" class="col-8" [(ngModel)]="password" placeholder="Password">
            </div>
            <div class="row">
                <button type="submit" class="col-3 btn btn-info btn-sm" (click)="close('signup')">Sign Up</button>
                <button type="button" class="col-3 offset-5 btn btn-default btn-sm" data-dismiss="modal" (click)="close('cancel')">Cancel</button>
            </div>
        </div>
    </div>
    <!-- TODO: Signup with Facebook, Google+, ... -->
    <!--<div class="modal-footer">
    </div>-->
</template>

<template ngbModalContainer></template>
